body {
    align-items: center;
    display: flex;
    background-color: #513232;
    justify-content: center;
    text-align: center;
}

p {
    font-size: 70px;
    color: #d1c4c4;
    font-family: CaviarDreams;
}

@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams.ttf);
}