body {
    background-color: #513232;
}

p {
    font-size: 70px;
    color: #d1c4c4;
    font-family: CaviarDreams;
    text-align: center;
}

@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams.ttf);
}

.button {
    background: url('images/button2.png');
    background-size: 400px 100px;
    width: 400px;
    height: 100px;
    font-family: CaviarDreams;
    font-size: 40px;
    overflow: hidden;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    position: absolute;
    right: 0px;
    top: 300px;
    color: #d1c4c4;
    text-align: right;
    padding-right: 30px;
}

.button:hover {
    background: url('images/button1.png');
    background-size: 400px 100px;

    color: #000000;
}

.button:active {
    background: url('images/button3.png');
    background-size: 400px 100px;

    outline: 0;
}


.birthday {
    background: #794848;
    width: 100%;
    height: 50px;
    font-family: CaviarDreams;
    font-size: 25px;
    overflow: hidden;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #d1c4c4;
    text-align: center;
    padding-right: 30px;
}

.birthday:hover {
    background: #ac8b8b;
    color: #000000;
}

.birthday:active {
    background: #c5b6b6;
}


.ANAIS {
    background: #794848;
    width: 100%;
    height: 50px;
    font-family: CaviarDreams;
    font-size: 25px;
    overflow: hidden;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    position: absolute;
    left: 0px;
    bottom: 55px;
    color: #d1c4c4;
    text-align: center;
    padding-right: 30px;
}

.ANAIS:hover {
    background: #ac8b8b;
    color: #000000;
}

.ANAIS:active {
    background: #c5b6b6;
}


.MATHY {
    background: #794848;
    width: 100%;
    height: 50px;
    font-family: CaviarDreams;
    font-size: 25px;
    overflow: hidden;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #d1c4c4;
    text-align: center;
    padding-right: 30px;
}

.MATHY:hover {
    background: #ac8b8b;
    color: #000000;
}

.MATHY:active {
    background: #c5b6b6;
}