@media only screen and (max-width: 1456px) {
    p {
        font-size: 14px;
    }

    /* For mobile phones: */
    .mobile {
        display: unset;
    }

    .not_mobile {
        display: none !important;
    }


    .game_logo {
        width: 100%;
    }

    .second_row_cards {
        flex-direction: column;
    }


    .schedule_card {
        width: 100% !important;
        margin-bottom: 26px;
        min-width: 300px;
        min-height: 600px;
      
        margin-right: 10px;
        margin-left: 10px;
    }

    .width {
        display: none;
    }

    #menuToggle {
        display: block;
        position: fixed;
        top: 50px;
        left: 50px;

        z-index: 999;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #fff;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: rgba(18, 20, 31, 0.9);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 20px 0;
        font-size: 24px;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked~ul {
        transform: none;
    }


    /*    .schedule_card_text {
        margin-left: 30px;
    }
*/
    .schedule_card_countdown {
        margin-left: 280px !important;
    }

    .home_2 {
        flex-direction: column;
    }

    .join_window {
        width: 100%;


    }

    .schedule_card_text a {
        font-size: 14px !important;
        
    }
    .schedule_timers{
        margin-left:  36px;
        margin-right:  36px;
    }

    .news_window {
        border: 0 !important;
    }

    .news_sub_window {
        border: 0 !important;
        padding: 0px !important;
    }

    .second_row_cards {
        margin: 0px;
    }

    .news_window {
        padding: 0;
        clip-path: unset;
    }

    .mobile_margin {
        margin-top: 126px;
    }

    .sexy_container2 {
        flex-direction: column;
    }

    .name_class_container {
        margin-bottom: 70px;
    }

    .big_window {
        width: 100% !important;
        padding: 5px;
    }

    .profile_name {
        width: auto !important;
        font-size: 50px;
    }

    .profile_info_container {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .day_selector_div {
        display: none;
    }

    .side_card_button {
        margin-top: 50px !important;
    }


    .news {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .info_email {
        width: 100%;
    }

    .change_email_button {
        display: none;
    }

    .mobile_text {
        font-size: 14px !important;

    }

    .mobile_email {
        font-size: 26px !important;
    }

    .info_email {
        padding: 0px;
    }

    .email_margin {
        margin-top: 20px;
    }

    .info_tolls {
        width: 100%;
        padding: 0;
        margin-right: 0;
    }

    .mobile_settings {
        margin-top: 50px !important;
    }

    .side_card_text {
        margin-top: 10px !important;
    }

    .schedule_card div {
        flex-direction: column;
    }

    .legion_mobile {
        margin-left: 0px !important;
    }

    .title_mobile {
        margin-top: 100px !important;
    }

    .tophead {
        font-size: 14px !important;
    }

    .toptext {
        font-size: 14px !important;
    }

    .toptext a {
        font-size: 14px !important;
    }

    .character_profile {
        width: 100% !important;
        margin-top:  126px !important;
    }

    .card_stats {
        margin-right: 10px !important;
    }
    .big_text{
      width:  unset !important;
    }
    .big_window{
      margin: 0 !important;
    }
    .pages{
      margin-left:  0px !important;
      width:  auto !important;
    }
    .responsive_news_image{
    width:  100%;
     position: unset;
}

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.small_card {
    max-width: 500px;
    height: auto;
    background-color: rgba(18, 20, 31, 0.8);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}.responsive_news_data{
    margin-left:  0px;

}
.home_2 a{
    width: unset !important;
}
.news .small_card{
margin-right: 0px;

}

.Join_text{
    font-size:  60px;
}
.join_sub_text{
    font-size: 18px;
}

.see_more {
    position: absolute;
    bottom: 0;
    background: 0;
    outline: 0;
    width: 100%;
    border: 0;
        margin-right: 0px;
    right: 0;
    /* margin-right: 10px; */
    margin-bottom: 5px;
    color: #c2c2c2;
    cursor: pointer;
}



.pfp{
    width: 80% !important;
   
}
.pfp_div{
   justify-content: center;
    align-self: center;
    display: flex;
    align-content: center;  
    margin-top: 50px;
}
.myname>p{
    font-size: 30px !important;
    
}
.myname1{
    margin-left: 56px;
}
.myname2{
    margin-left: 26px !important;
}
.contact_title{
    text-align: center;
}
.profile_info_container{
    margin-top: 0px;
}
.name_class_container{
    margin-bottom: 26px
}
.class_container{
   display: flex;
  
   align-content: left;
   margin-left: 26px;
}
}