/* General menu styling */
.nav {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    flex-wrap: nowrap;
    width: auto;
    position: sticky;
    margin-bottom: 100px;
    top: 0;
    z-index: 999;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(18, 20, 31, 0.8);
    margin-top: 0px;
}

/* The main navigation link containers */
.nav>li {
    width: 150px;
    height: 50px;
    background: 0;
    outline: 0;
    border: 0;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5px;
    cursor: pointer;
    transition: all 1.5s cubic-bezier(.25, .8, .25, 1);
}

.nav>li:hover {
    animation: pulsate 1.5s infinite alternate;
    border: 0 !important;
    box-shadow:
        0 0 0px #1379fe;
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #1379fe,
            0 0 80px #1379fe,
            0 0 90px #1379fe,
            0 0 100px #1379fe,
            0 0 150px #1379fe;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #1379fe,
            0 0 45px #1379fe,
            0 0 55px #1379fe,
            0 0 70px #1379fe,
            0 0 80px #1379fe;

    }
}


/* The main navigation links */
.nav>li>a {
    /* Layout */
    display: block;
    position: relative;
    padding: 10px 20px;
    /* Text */
    font-family: 'Oswald';
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    /* Background */
    ##background: url(../img/navbar.jpg) center;
    /* Making the color to change on hover with a transition */
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -ms-transition: color .3s ease-in;
}

.nav-bar-left {
    background: transparent url(../img/nav_left.png) no-repeat 0 0 scroll;
    width: 70px;
    height: 171px;
    position: absolute;
    left: 50%;
    margin-left: -520px;
    margin-top: 165px;
    z-index: 50000000000000000000000;
}

.nav-bar-right {
    background: transparent url(../img/nav_right.png) no-repeat 0 0 scroll;
    width: 70px;
    height: 171px;
    position: absolute;
    left: 50%;
    margin-left: 447px;
    margin-top: 165px;
    z-index: 50000000000000000000000;
}

.nav-bar-middle {
    background: transparent url(../img/nav_center.png) no-repeat 0 0 scroll;
    width: 368px;
    height: 160px;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    margin-top: 123px;
    z-index: 50000000000000000000000;
}

.sprache {
    width: 368px;
    height: 160px;
    position: absolute;
    left: 50%;
    margin-left: 285px;
    margin-top: 151px;
    z-index: 50000000000000000000000;
}

/* Changing the color on hover */


/* The links which contain dropdowns menu are wider, because they have a little arrow */
.nav>.dropdown>a {
    padding: 10px 30px 10px 20px;
}

/* The arrow indicating the dropdown */
.dropdown>a::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 10px;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

/* Changing the color of the arrow on hover */
.dropdown>a:hover::after,
.dropdown:hover>a::after {
    border-color: #0fd0f9;
}

/* The submenus */
.nav ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

/* General layout settings for the link containers of the submenus */
.nav ul li {
    position: absolute;
    top: -9999px;
    /* Hiding them */
    height: 0px;
    display: block;
    margin: 0;
    padding: 0;
    /* Making them to expand their height with a transition, for a slide effect */
    -webkit-transition: height .2s ease-in;
    -moz-transition: height .2s ease-in;
    -o-transition: height .2s ease-in;
    -ms-transition: height .2s ease-in;
}

/* Displays the submenu links, by expading their containers (with a transition, previously defined) and by repositioning them */
.dropdown:hover>ul>li {
    height: 30px;
    position: relative;
    top: auto;
}

/* The submenu links */
.nav ul li a {
    /* Layout */
    padding: 4px 20px;
    width: 120px;
    display: block;
    position: relative;
    /* Text */
    color: #bbb;
    text-decoration: none;
    font-size: 16px;
    /* Background & effects */
    background: black;
    background: rgba(0, 0, 0, .6);
    -webkit-transition: color .3s ease-in, background .3s ease-in;
    -moz-transition: color .3s ease-in, background .3s ease-in;
    -o-transition: color .3s ease-in, background .3s ease-in;
    -ms-transition: color .3s ease-in, background .3s ease-in;
}

/* Changing the link's color and background on hover */
.nav ul li:hover>a,
.nav ul li a:hover {
    color: #0fd0f9;
    background: rgba(0, 0, 0, .75);
}

/* Making the level 2 (or higher) submenus to appear at the right of their parent */
.nav ul .dropdown:hover ul {
    left: 160px;
    top: 0px;
}

/* The submenu links have a different arrow which indicates another dropdown submenu */
.nav ul .dropdown a::after {
    width: 6px;
    height: 6px;
    border-bottom: 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    top: 12px;
}

/* Changing the color of the arrow on hover */
.nav ul .dropdown:hover>a::after,
.nav ul .dropdown>a:hover::after {
    border-right: 1px solid #0fd0f9;
    border-top: 1px solid #0fd0f9;
}



       button {

            height: 50px;
            border: none;
            text-align: center !important;
            cursor: pointer;
            font-size: 18px;
            border: 1px solid #36383a;
            background-size: contain;
            background: 0;
            outline: 0;
            margin-top: 20px;
            color: #fff;
        }

        button:hover {
            border: 1px solid #1379fe;
            box-shadow:
                0 0 20px #1379fe;
            text-shadow:
                0 0 20px #1379fe;
        }

           .black {
            background-color: rgba(18, 20, 31, 0.8);
        }


      /*Top menu UI*/
        .menu_buttons {
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            flex-wrap: nowrap;
            width: auto;
            position: sticky;
            margin-bottom: 100px;
            top: 0;
            z-index: 999;
            margin-left: -10px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
            -webkit-transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
        }

        .shrink {
            position: fixed;
            top: 0;
            width: 100%;
        }

          .butt {
            width: 150px;
            height: 50px;
            background: 0;
            outline: 0;
            border: 0;
            color: #ffffff;
            text-align: center;
            font-size: 20px;
            justify-content: center;
            flex-wrap: nowrap;
            margin: 5px;
            cursor: pointer;
            transition: all 1.5s cubic-bezier(.25, .8, .25, 1);
        }

        .butt:hover {
            animation: pulsate 1.5s infinite alternate;
            border: 0 !important;
            box-shadow:
                0 0 0px #1379fe;
        }

        .dropped_button {
            background-color: rgba(18, 20, 31, 0.8);
            color: #fff;
            text-align: center;
            vertical-align: middle;
            padding: 20px;
            cursor: pointer;
            user-select: none;
            font-size: 20px;
            border-radius: 5px;
            margin-top: 5px;
        }


        .dropped_button:hover {
            box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #1379fe,
                0 0 0.8rem #1379fe,
                0 0 2.8rem #1379fe,
                inset 0 0 1.3rem #1379fe;
            animation: pulsate 1.5s infinite alternate;
            color: #fff;
        }

        .dropped_button:active {
            color: #353535;
        }